body {
    padding: 20px;
}
span {
    margin-left: 10px;
}
.avatars {
    display: flex;
    align-items: center;
}
.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    object-fit: cover;
    box-shadow: 0 0 0 2px white;
}
/* .avatar:nth-child(2) {
    transform: translateX(-20px);
} */
.avatar:not(:first-child) {
    margin-left: -10px;
}
.avatar-number {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #999;
}